.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;  
}

.footer-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 16px;
    width: 100%;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    
    &:not(:placeholder-shown) {
        color: #ffffff;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: center;
        }
    .footer__wraper-left {
        margin-right: 165px;
    }
    .footer-form__input {
        width: 450px;
    }
}

@media screen and (max-width: 1199px) {
    .footer-title {
        text-align: center;
    }
    .footer__wraper-left {
        text-align: center;
        margin-bottom: 60px;
    }

    .footer__wraper-right {
        margin-bottom: 60px;
    }

    .footer-form__input {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-container {
        flex-wrap: nowrap;
    }
    .footer__wraper-left {
        min-width: 231px;
        margin-right: 70px;
    }

    .footer__wraper-right {
        margin-right: 93px;
    }

    .footer-form {
        display: flex;
    }

    .footer-form__input {
        margin-right: 12px;
        width: 358px;
        margin-left: 0;
    }
}







