.section-portfolio {
    background-color: var(--primary-backgroun-color);
}

.portfolio-filter {
    display: flex;
    margin-bottom: 40px;
}

 .portfolio-filter__item:not(:last-child) {
     margin-right: 8px;
 }

@media screen and (max-width: 767px) {
    .portfolio-filter {
        flex-wrap: wrap;
        
    }

   .portfolio-filter__item {
       margin-bottom: 15px;
   }
}


@media screen and (min-width: 768px) {
    .portfolio-filter {
        margin-bottom: 30px;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio-filter {
        margin-bottom: 50px;
    }
}

// .portfolio-list {
//     display: flex;
//     flex-wrap: wrap;
//     margin-bottom: -30px;
// }

// .portfolio-list__item {
//     width: 370px;
//     margin-right: 30px;
//     margin-bottom: 30px;

//     &:nth-child(3n) {
//         margin-right: 0px;
//     }
// }

// .portfolio-list__link {
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         display: block;
//         box-shadow:
//             0px 1px 1px rgba(0, 0, 0, 0.12),
//             0px 4px 4px rgba(0, 0, 0, 0.06),
//             1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
// }

// .portfolio-list__thumb {
//     position: relative;
//     overflow: hidden;
// }

// .portfolio-list__text {
//     padding-top: 20px;
//     padding-bottom: 20px;
//     padding-right: 24px;
//     padding-left: 24px;
//     border: 1px solid #EEEEEE;
//     border-top: none;
// }

// .portfolio-list__title {
//     margin-bottom: 4px;
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: var(--title-text-color);
// }

// .portfolio-list__overlay {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(33, 150, 243, 0.9);
//     padding-left: 24px;
//     padding-top: 63px;
//     padding-right: 24px;
//     font-size: 18px;
//     line-height: 1.56;
//     color: #FFFFFF;
//     transform: translateY(100%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .portfolio-list__link:hover &,
//     .portfolio-list__link:focus & {
//         transform: translateY(0);
//     }
// }

// .portfolio-list__descr {
//     font-size: 16px;
//     line-height: 1.88;
//     color: var(--primary-text-color);
// }