@media screen and (max-width: 1199px) {
    .work {
        display: none;
    }
}

.work {
    padding-top: 0px;
    background-color: var(--primary-backgroun-color);
}

.work__list {
    display: flex;
}

.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__description {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}