.button {
    display: block;
    min-width: 200px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.button-form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    justify-content: center;
    align-items: center;
}

.button__icon {
    margin-left: 10px;
    fill: #ffffff;
}

// .button-portfolio {
//     min-width: 73px;
//     padding-top: 6px;
//     padding-bottom: 6px;
//     padding-left: 22px;
//     padding-right: 22px;
//     border: none;
//     border-radius: 4px;
//     background-color: var(--section-background-color);
//     font-family: inherit;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.63;
//     text-align: center;
//     color: var(--title-text-color);
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         background-color: var(--accent-color);
//         color: #FFFFFF;
//         box-shadow:
//             0px 3px 1px rgba(0, 0, 0, 0.1),
//             0px 1px 2px rgba(0, 0, 0, 0.08),
//             0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
// }