:root {
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --primary-backgroun-color: #ffffff;
    --section-background-color: #F5F4FA;
    --primary-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;

} 